@font-face { font-family: 'OhmegaSans'; 
	src: url('OhmegaSans-Regular.otf'); } 

@font-face { font-family: 'farray'; 
	src: url('FARRAY.otf'); }

@font-face { font-family: 'thin'; 
	src: url('Lato-Thin.ttf'); } 

@font-face { font-family: 'font2'; 
    src: url('Minnadrop-Regular.otf'); } 
    

	






