/* Big tablet to 1200px (widths smaller than the 1140px row) */
@media screen and (max-width: 1200px) {  
    .main-nav li {
        margin-left: 30px;
    }
    
    header h1 {
        font-size: 100%;
        width: 80%;
        margin: 0 10%;
    }
    
       .logo {
        margin-left: 30px;
    }
     .box p {
  
  font-size: 100%;
   margin: 5% 3%;
}

        .box {
        width: 80%;
        margin: 0 10%;
  
}    
    #contact button {
        width: 30%;
        margin-left:35%;
        margin-right:35%;
        font-size: 60%;
}

    #contact h4 {
        padding-bottom: 5%;
    }


#contact h2 {
    font-size: 100%:
}
    
}



/* Small tablet to big tablet: from 768px to 1023px */
@media screen and (max-width: 1023px) {
    #contact h1  {
        font-size: 180%;
        margin: 6% 0;
}

    #contact-wrap {
        width: 90%;
        margin: 0 5%;

}
    
/* Small phones to small tablets: from 481px to 767px */
@media screen and (max-width: 767px) {
    
    .main nav{
        font-size: 30%;
    }
    
    header h1 {
        font-size: 90%;
    }
  
 
    #portfolio-wrap .portfolio {
	   width:48%;
	   margin:1%;
    }
    
    #entermessage, #computermessage, #usermessage {
        font-size: 70%;
        padding: 3% 0;
}

    #entry-links li{
        margin: 3%; 
        font-size: 400%;
            
    }
    
    #contact h1  {
        font-size: 140%;
        margin: 6% 0;
}

    #contact h2 {
        font-size: 60%:
}
    
    #fruits li{
    display: inline-block; 
    width: 25%;
    margin: 2%;
    
}
    #about input[type=text] {
        font-size: 60%;
    }
    
    }


/* Small phones: from 0 to 480px */
@media screen and (max-width: 480px) {
    
    .social-links {display:none}
    
    nav li {
        padding-top: 10%;
    }
    .sticky{
        height: 42px;
    }
    .logo {
        width: 32px;
    }

      header h1 {
        font-size: 70%;
        width: 80%;
        margin: 3% 10%;
    }

    
      #entermessage {
        font-size: 70%;
        padding: 5%;
    }
    
     #entry-links li{
        margin: 1%; 
        font-size: 300%;
            
    }
    
    .main-nav {
    font-size: 80%;
    
    }
    .main-nav li {
        margin-left: 20px;
        margin-right: 5px;
        margin-top:5%;
    }

    #entrylinks li {
        font-size: 50%;
    }
    
    .box img {
    width: 60%;
    margin: 10% 20%;
}

    
    }
    footer {
        padding: 5%;
    }

    footer p {
        display: none;

    }       


    }